<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="PemsConnectionString" connectionString="Server=tcp:ebbdd1dm96.database.windows.net,1433;Database=pems-load;User ID=ATeam@ebbdd1dm96;Password=Infusi0n;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  <add name="Log" connectionString="Server=tcp:ebbdd1dm96.database.windows.net,1433;Database=pemslog-load;User ID=ATeam;Password=Infusi0n;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
</connectionStrings>